body {
    height: 100%;
    margin: 0;
    font-family: poppins;
}

.blob {
    min-height: 700px;
    min-width: 900px;
    background-color: #649549;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 0;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0.5;
}

nav {
    display: flex;
    width: 100%;
    height: 20%;
    background: #eee;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    margin: 0px 40px;
    font-weight: bolder;
    opacity: 5;
}

#logo {
    width: 10 0px;
    height: 50%;
    opacity: 5;
}

#street {
    padding: 30px;
    font-family: poppins;
}

#street h3 {
    font-weight: 700;
    font-size: 30px;
}

#street p {
    font-family: poppins;
    font-size: 20px;
}

#street #style {
    color: #6CB840;
}

#street #food {
    font-family: poppins;
    color: #EAAB1B;
}

.text-box {
    margin-left: 44vw;
    margin-top: 42vh;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-light-green {
    background-color: #6CB840;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #6CB840;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}