@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #E5E5E5;
}

section {
    height: 100vh;
}


/* Circle */

.dotted {
    position: relative;
    border: 2px dashed #6CB840;
    border-radius: 50%;
    margin-top: 240px;
    margin-left: 655px;
    width: 500px;
    height: 500px;
}

.dotted>img:first-child {
    transform: rotate(0deg) translateY(-30px);
    margin-left: 30px;
}

.dotted>img:nth-child(2) {
    transform: rotate(45deg) translateY(-115px);
}

.dotted>img:nth-child(3) {
    transform: rotate(90deg) translateY(-105px);
}

.dotted>img:nth-child(4) {
    transform: rotate(-45deg) translateY(-60px);
}

.dotted>img:nth-child(5) {
    transform: rotate(-90deg) translateY(50px);
    margin-left: 240px;
    margin-bottom: 30px;
}

.top_img {
    margin-top: 280px;
    margin-left: 65%;
}

.top_img>img {
    width: 150px;
}

nav {
    margin-top: 20px;
}

nav ul {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

nav ul li {
    list-style: none;
    margin-top: 35px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

i {
    border-color: black;
}

.title {
    text-align: center;
    margin-bottom: 10px;
}

.title h2 {
    font-weight: bold;
}

.food_title {
    float: left;
    margin-left: 128px;
    width: 400px;
}

.text_p {
    font-size: 20px;
}

.street {
    color: #6FB944;
}

.food {
    color: #EAAC3A;
}

.img_container1 {
    float: right;
}

.img_container1 img:nth-child(1) {
    margin-right: 150px;
    width: 80px;
}

.img_container1 img:nth-child(2) {
    margin-right: 260px;
    margin-top: 25px;
    width: 80px;
}

.img_container2 {
    float: right;
}

.img_container2 img:nth-child(3) {
    margin-right: 180px;
    width: 60px;
    height: 60px;
    margin-bottom: 120px;
}

.img_container2 img:nth-child(2) {
    margin-right: 50px;
    width: 200px;
    height: 200px;
    margin-bottom: 40px;
}

.img_container2 img:nth-child(1) {
    margin-right: 50px;
    width: 80px;
    height: 80px;
    margin-bottom: 150px;
}

.btn {
    width: 120px;
    margin-top: 20px;
    height: 40px;
    border-radius: 30px;
    background-color: #6CB840;
    border: none;
    outline: 0;
    color: white;
    font-weight: 700;
    margin-bottom: 20px;
}

.circle {
    position: absolute;
    width: 100%;
    height: 80%;
    top: -50px;
    left: 0;
    background-color: #B8E79C;
    clip-path: circle(500px at 950px 0px);
    z-index: -1;
}

.eat_section img {
    width: 400px;
    margin: 30px;
}

.eat_section {
    width: 100%;
    margin: auto;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.together {
    color: #FFD985;
}

.eat_section p {
    font-size: 20px;
}

.eat_section div {
    width: 40%;
}

.menu {
    text-align: center;
    margin-bottom: 10px;
}

.menu_container {
    background-color: #EAF3E4;
    padding-top: 20px;
}

.menu_1 {
    color: #6FB944;
}

.menu_section1 {
    display: flex;
    align-items: center;
    height: 30vh;
    padding: 60px;
}

.menu_item {
    background-color: #FFFFFF;
    margin: 40px;
    height: 120px;
    border-bottom-right-radius: 30px;
    position: relative;
}

.menu_item p {
    text-align: right;
    padding: 0px 15px;
}

.menu_item img {
    width: 150px;
    position: absolute;
    left: -80px;
}

.hot_d {
    background-color: #C9ECB5;
    padding: 40px;
    height: 70vh;
}

.hot_d h2 {
    text-align: center;
}

.first {
    width: 50%;
    position: relative;
    top: -60px;
    left: 0;
    margin-bottom: 300px;
}

.second {
    position: absolute;
    width: 60%;
    left: 35px;
    top: 126px;
}

.deals_sub_container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
}

.special {
    width: 40%;
    float: right;
    margin-bottom: 700px;
}

.special p {
    font-size: 20px;
}

.hot {
    color: #81C35A;
}

.contact_container {
    background-color: #FFF5DD;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 30%;
    padding-right: 30%;
}

.contact_container h2 {
    margin-bottom: 20px;
}

.contact_container p {
    margin-bottom: 20px;
    width: 70%;
}

.contact_container input {
    width: 450px;
    height: 50px;
    border-radius: 20px;
    border: none;
    outline: 0;
}

.contact_container input:placeholder-shown {
    font-weight: 700;
}

.footer_container {
    background-color: #F1FAEC;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer_container .foot4 {
    display: flex;
    flex-direction: column;
}

.foot4 button {
    margin-top: 30px;
    background-color: #6CB840;
    border: none;
    outline: 0;
    color: white;
    font-weight: bold;
    width: 70px;
    height: 30px;
}

.footer_container .foot3 {
    display: flex;
    flex-direction: column;
    width: 180px;
}

.footer_container .foot2 {
    width: 160px;
    margin-right: 500px;
}

.footer_container .foot1 {
    width: 12%;
    border-right: 2px dashed #81C35A;
}


/* Media querry */


/* @media (max-width: 768px) {
    .eat_section{
        flex-direction: column;
    }
    .eat_section div{
        width: 60%;
        padding-bottom: 20px;
    }
    .menu_section1{
        flex-direction: column;
        height: 100vh;
    }
    .menu_item img{
        width: 120px;
    }
} */